/*
  Uppgift 2. Skriv CSS så att HTML:en i index.html får samma utseende
             som i uppgift2-demo.png
*/

body {
  margin: 0;
}

#intro {
  background-color: yellow;
  color: red;
  width: 100%; /* optinal */
  padding: 10px;
  text-align: center;
  margin: 0;
}

.text {
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}
